* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px / 18px "Proxima_Nova", Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #fff;
}

.container1 {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
    padding: 20px;
}

.title_news {
    margin-bottom: 20px;
}

.title_news .title {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.summary {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: justify;
}

.description {
    font-size: 1rem;
    text-align: justify;
}

.description p {
    margin-bottom: 20px;
}

.description ul {
    list-style: disc;
    margin-left: 3rem;
    margin-bottom: 20px;
}

.description ul li {
    margin-bottom: 10px;
}

.description strong {
    color: #cc6600;
}

.description span {
    color: #cc6600;
}

.description img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

.description a {
    color: #cc6600;
    text-decoration: none;
}

.description a:hover {
    color: #cc6600;
    text-decoration: none;
}