body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    line-height: 1px;
=======
>>>>>>> 0a4c256a3f3ab57b1f6eb28a5f6688b2a7d58aed
}

.line{
    border-top: 1px solid #000;
}

.link-icons {
    align-items: center;
    padding: 10px;
}