.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a, .pagination li span {
    color: #007bff;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 8px 16px;
    border-radius: 0.25rem;
    transition: all 0.3s;
}

.pagination li a:hover, .pagination li span:hover {
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.pagination li.active a, .pagination li.active span {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination li.disabled span, .pagination li.disabled a {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}