.top-header-body{
    text-align: center;
}
.top-header-body h5{
    font-weight: 700;
}
.top-descrip-header-body{
    text-align: center;
    margin: 1% 7% 2% 7%;
}

.row{
    text-align: center;
}

.rowheader{
    background-color: orange;
}
.navheader{
    justify-content: center;
}
.dashboardgold-header{
    text-align: center;
    border-style: inset;
    border-color: black;
    }

.dashboardgold-header h1{
color: orange;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 20px 0;
    font-size: 18px;
    background-color: #ffffff;
}

th, td {
    border: 1px solid #dddddd; 
    text-align: left;
    padding: 8px;
}

thead {
    background-color: #f2f2f2; /* Màu nền cho dòng tiêu đề nhạt hơn để tương phản */
}

th {
    background-color: #FFA500; /* Màu cam cho tiêu đề */
    color: #ffffff; /* Chữ màu trắng */
}

tr:nth-child(even) {
    background-color: #FFFACD; /* Màu vàng nhạt cho các hàng chẵn */
}

tr:hover {
    background-color: #e7e6cc; 
}

td span {
    font-weight: bold;
    color: #000000; /* Chữ màu đen */
}

tbody tr td:first-child {
    font-weight: bold;
    color: #FFA500; /* Màu cam cho tên loại vàng */
}
.headergoldpricelist{
text-align: center;
}


