* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/18px "Proxima_Nova", Arial, "DejaVu Sans", "Liberation Sans",
    Freesans, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
}

.introduce {
    line-height: 24px;
    font-weight: 500;
    
}

.summary-content {
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 40px;
    line-height: 25px;
    overflow-y: hidden;
    position: relative;
}

.summary-content a{
    color: #e8be6f;
}

.summary-content h1,
.summary-content h2,
.summary-content h3, 
.summary-content p, 
.summary-content ul{
    margin-bottom: 10px;
}

.summary-content ul li{
    margin-left: 30px;
    list-style: initial;
}