* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/18px "Proxima_Nova", Arial, "DejaVu Sans", "Liberation Sans",
    Freesans, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
}

.pagination .page-item .page-link {
  color: #000;
}

.introduce {
    line-height: 24px;
    font-weight: 500;
    
}

.filter .title {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.filter .summary {
  display: flex;
  justify-content: center;
}

.table-container {
  padding-top: 1%;
  padding-bottom: 2%;
}

.table-diamond {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.table-diamond th {
  background-color: #f2f2f2;
  color: #333;
  text-align: left;
  padding: 12px 15px;
  border-bottom: 2px solid #ddd;
}

.table-diamond td {
  text-align: center;
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

.table-diamond tr:nth-child(odd) {
  background-color: #ebebeb;
}

.table-diamond tr:hover:first-child{
  background-color: #ebebeb;
}

.table-diamond tr:hover {
  background-color: #b58254;
}

.table-diamond {
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 600px) {
  .table-diamond, .table-diamond thead, .table-diamond tbody, .table-diamond th, .table-diamond td, .table-diamond tr {
    display: block;
  }

  .table-diamond thead tr {
    display: none;
  }

  .table-diamond tbody tr {
    margin-bottom: 15px;
  }

  .table-diamond td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table-diamond td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}


.summary-content {
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 40px;
    line-height: 25px;
    overflow-y: hidden;
    position: relative;
}

.summary-content a{
    color: #e8be6f;
}

.summary-content h1,
.summary-content h2,
.summary-content h3, 
.summary-content p, 
.summary-content ul{
    margin-bottom: 10px;
}

.summary-content ul li{
    margin-left: 30px;
    list-style: initial;
}